1.8.0/jaxws/resources/soapdefinition.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:bs_cavok_soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="bs_cavok_soap" targetNamespace="urn:bs_cavok_soap">
    <wsdl:types>
        <xsd:schema targetNamespace="urn:bs_cavok_soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="pingStringInput">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="pingInput" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="loginResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sessionID" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="pingOperationRequest">
        <wsdl:part element="tns:pingStringInput" name="parameter" />
    </wsdl:message>
    <wsdl:message name="loginResponse">
        <wsdl:part name="parameters" element="tns:loginResponse" />
    </wsdl:message>
    <wsdl:portType name="bs_cavok_soapPortType">
        <wsdl:operation name="pingOperation">
            <wsdl:input message="tns:pingOperationRequest" />
            <wsdl:output message="tns:loginResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="bs_cavok_soap" type="tns:bs_cavok_soapPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="pingOperation">
            <soap:operation soapAction="pingOperation" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="bs_cavok_soap">
        <wsdl:port name="bs_cavok_soap" binding="tns:bs_cavok_soap">
            <soap:address location="http://localhost:8080/services/ping" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>